@import './quasar-variables.sass'

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap')

*
  font-family: 'Poppins', sans-serif
  font-size: 14px
  font-weight: 400

.wrapper
  width: 100%
  max-width: 1200px
  margin: 0 auto
  padding: 0 24px

.backdrop-blur 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);


@media (max-width: 600px)
  .wrapper
    padding: 0 16px